@import "tailwindcss";

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

h1 {
  font-size: var(--text-3xl);
  font-weight: 500;
  line-height: 1.3; /* more open */
  margin-bottom: 0.75em;
}

h2 {
  font-size: var(--text-2xl);
  font-weight: 500;
  line-height: 1.65;
  margin-bottom: 0.65em;
}

h3 {
  font-size: var(--text-xl);
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.6em;
}

h4 {
  font-size: var(--text-lg);
  font-weight: 500;
  line-height: 1.45;
  margin-bottom: 0.5em;
}

p {
  line-height: 1.65; /* more comfortable for longer text */
  margin-bottom: 1.1em;
  color: var(--color-slate-700);
}

[data-theme="dark"] p {
  color: var(--color-slate-400);
}

a {
  font-size: var(--text-base);
}

ul > li {
  font-size: var(--text-base);
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0.5em;
  list-style-type: disc;
  list-style-position: inside;
  color: var(--color-slate-800);
}

ul {
  padding-left: 1em;
  margin-bottom: 1.25em;
}

.bg-_white {
  background-color: var(--color-white);
}

button {
  font-size: var(--text-sm);
  color: var(--color-slate-600);
  [data-theme="dark"] & {
    color: var(--color-slate-400);
  }
  &:hover {
    color: var(--color-slate-800);
    [data-theme="dark"] & {
      color: var(--color-slate-200);
    }
  }
}

html,
body {
  overflow: auto; /* allow scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and old Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
