@import "tailwindcss";

h1 {
  font-size: var(--text-3xl);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.75em;
}

h2 {
  font-size: var(--text-2xl);
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0.7em;
}

h3 {
  font-size: var(--text-xl);
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 0.65em;
}

h4 {
  font-size: var(--text-lg);
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.6em;
}

p {
  font-size: var(--text-base);
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 1em;
  color: var(--color-slate-800);
}

a {
  font-size: var(--text-base);
}
